{% unless include.header_visible %}
  {% assign extended_classes = 'navbar-opaque navbar-dark' %}
{% endunless %}

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top {{extended_classes}}">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              {% for nav_item in site.nav_items %}
                {% assign nav_item_classes = '' %}
                {% assign hash_parts = nav_item.url | split: '#' %}
                {% if hash_parts | size > 0 %}
                  {% assign nav_item_classes = nav_item_classes | append: ' page-scroll'%}
                {% endif %}
                <li>
                  <a class="{{ nav_item_classes }}" href="{{ nav_item.url }}">{{ nav_item.label }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
