<section id="our-team" class="our-team">
    <div class="our-team__content">
        <div class="container">
            <h2>Meet Us.</h2>
            <p>
              We are a small team based on La Plata, Argentina focused on
              creative and innovative videogames development. We want to make
              games that will be remembered through generations due to their
              aesthetics and their narrative.
            </p>

            <p>Yes, we owe you our team photo. It's on the way!</p>
        </div>
    </div>
    <div class="overlay"></div>
</section>
