footer.page-footer.grey.darken-3
  .container
    .row
      .col.l6.s12
        h5.white-text Acerca de Piruetas GameStudio
        .grey-text.text-lighten-4.justify
          p
          | Somos un pequeño estudio localizado en Buenos Aires, Argentina.
          | Buscamos desarrollar videojuegos que representen experiencias
          | innovadoras y reunan estéticas y narrativas de calidad.

          p
          | Piruetas arrancó en Julio de este año y recién estamos desarrollando
          | nuestro primer videojuego para celular. Seguinos en Facebook y
          | enterate las últimas noticias del desarrollo.
      .col.l3.s12
      .col.l3.s12
        h5.white-text ¡Seguinos!
        ul
          each network, network_id in social
            li
              a.white-text(href='#{network.url}')= network.name
  .footer-copyright.grey.darken-4
    .container

      | &copy; Copyright 2016 Piruetas Studio, todos los derechos reservados.
