include ../_includes/mixins/game-list.jade

#index-banner.section.no-padding.purple.lighten-5
  .container.center.sheep-container
    .sheep
      img(src='/assets/images/sheep.png')
    br
    br
    h1.header Piruetas GameStudio
    .row
      h5.header.col.s12.light Experiencias innovadoras junto a estéticas y narrativas memorables.
    .row
      a#download-button.btn-large.waves-effect.waves-light.purple(href='#{social.facebook.url}') Seguinos en Facebook
    br
    br
    br

.section
  .container
    .row
      h2 Nuestros juegos
    for post, slug in public.games._data
      +game-list-item(slug, post)
