doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Piruetas GameStudio
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='main.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    nav.purple.darken-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') Piruetas GameStudio
        ul.right.hide-on-med-and-down
          li
            a(href='https://web.facebook.com/Piruetas-GameStudio-1630794087233593/') Visit on Facebook
        ul#nav-mobile.side-nav
          li
            a(href='https://web.facebook.com/Piruetas-GameStudio-1630794087233593/') Visit on Facebook
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    != yield
    footer.page-footer.grey.darken-3
      .container
        .row
          .col.l6.s12
            h5.white-text About Piruetas GameStudio
            p.grey-text.text-lighten-4
              | We are a small studio located in Buenos Aires, Argentina.
          .col.l3.s12
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Facebook
              li
                a.white-text(href='#!') Twitter
      .footer-copyright.grey.darken-4
        .container
          | Go, go, go!
    // Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='lib/materialize/js/bin/materialize.js')
